* {
    margin: 0px;   
    padding: 0px;
    border: none;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
}

.sketch-container {
    display: flex;
    flex-direction: column;
    border: 3px solid black;
    width: 960px;
    height: 960px;
    margin: 24px 12px 24px;
}

.grid-row {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
}
.grid-element {
    display: flex;
    border: 1px solid grey;
    border-radius: 4px;
    flex: 1 1 auto;
    transition-duration: 0.2s;
}

.grid-on {
    background-color: rgb(84, 84, 84);
}

.grid-hover {
    scale: 1.2;
    border-color: cyan;
    background-color: rgb(41, 41, 41);

}

.slidecontainer {
    display: flex;
    flex-direction: row;
    margin: 24px 12px 0px;
    gap: 24px;
    font-size: 14px;
    align-items: center;
}
.slider {
    width: 140px;
    height: 10px;
    background: lightgray;
    opacity: 0.7;
}
.slider:hover {
    opacity: 1;
    transition: opacity .2s;
}

.slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background: darkcyan;
    cursor: pointer;
}
/* .header-container {

}
.sketch-container  {

}
.footer-container {

} */