* {
    margin: 0dp;   
    padding: 0dp;
    border: none;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
}
.header-container {

}
.sketch-container  {

}
.footer-container {

}